In [2]:
import pandas as pd

In [5]:
df = pd.read_json("/Users/michaelcarr/CISC367/CISC367DataScience/WebScraping/Day17/monster.json")
df.head()

,Name,Class,Weakness,Habitat,Size
0,Monster Hunter Rise,[],[],[],"[, , , , , , , , , , , , , , , , , ]"
1,Bullfango,"[Herbivore, Fanged Beast]","[Fire, Thunder]","[Forest and Hills, Old Jungle, Old Swamp, Old ...",[367cm]
2,Felyne,[Lynian],"[Fire, Water, Thunder, Ice]",[All Main Areas],[103.37cm]
3,Jaggi,[Bird Wyvern],[Fire],"[Deserted Island, Sandy Plains, Misty Peaks, A...",[Small]
4,Gargwa,[Bird Wyvern],"[Fire, Water, Thunder, Ice]","[Misty Peaks, Ancestral Steppe, Everwood, Jura...",[Small]

In [8]:
df.to_csv("/Users/michaelcarr/CISC367/CISC367DataScience/WebScraping/Day17/monster.csv")